.obsidian/*

!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/community-plugins.json
!.obsidian/core-plugins.json
!.obsidian/hotkeys.json
!.obsidian/plugins/*/data.json
!.obsidian/plugins/*/manifest.json
!.obsidian/snippets/
!.obsidian/themes
!.obsidian/workspace.json

.DS_Store
.trash/

*.log
*.md~

node_modules/
