.DS_Store
.trash/

.obsidian/app.json

.obsidian/plugins/*/*
!.obsidian/plugins/*/data.json
!.obsidian/plugins/*/manifest.json

.obsidian/workspace
!.obsidian/workspace.json

*.log
*.md~
*.md -text

node_modules/
