/* Main Body */
.cm-sizer{
    border-left: 28px solid var(--h2-color);
    border-top: 5px solid var(--link-color);
    border-top-left-radius: 56px;
    /* left: 5px; */
    padding-left: 5vw;
	margin-left: 1%;
    max-width: 100% !important;
    margin-right: 1%;    
	margin-top: 3.5%;

}


/* Breadcrumbs */

.trails-div {
	visibility: visible;
}

.BC-trail {
    padding: 15px 0px 10px 19px !important;
    /* top:  44px !important; */
    position: fixed !important;
    background-color: var(--background-primary) !important;
    border: 0px;
	top: 35px !important;
    z-index: 999;
    visibility: hidden;
    border-left: var(--h2-color) 18px solid;
    border-bottom: var(--h5-color) 8px solid;
    /* border-right: var(--link-color) 2px solid; */
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 0px;
    margin-left: 0.25% !important;
    max-width: 94% !important;
    width: 94% !important;
    /* word-wrap: revert; */
	overflow: clip;
	white-space: nowrap;
	left: 1.5vw;
	max-height: 12cqi;
}

.internal-link.BC-Link {
    color: var(--text-accent) !important;
    background-color: var(--h2-color);
    border-radius: 200px;
    color: black !IMPORTANT;
    font-variant: all-small-caps;
    font-weight: bolder;
    font-family: var(--font-monospace-default);
    padding-left: 30px;
    padding-top: 4px;
    padding-right: 9px;
    padding-bottom: 2px;
	font-family: var(--font-family-ui);	
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    display: inline-block;
	margin-bottom: 1%;
    overflow: clip;
    font-size: 1.8cqmin;
	transition: max-width 0.5s ease-in-out;
}

span.BC-trail-sep {
    font-size: 0em;
    visibility: hidden;
}

/* Breadcrumb fixes from previous  snippet */


.inline-title {
    margin-top: calc(var(--inline-title-margin-bottom) + 2%);
}


.internal-link.BC-Link:hover {
    color: (var(--text-normal), var(--text-accent)) !important;
	max-width: 600px;
	background-color: var(--highlight-bg-color);
    /* text-shadow: 0px 0px 10px var(--text-accent); */
    
}

/* This is a really hacky fix but I think it's cleaner than doing not(has()) which doesn't work well  */
/* Fixes empty breadcrumbs being obnoxious and in the way */

.BC-trail:has(.BC-trail-path-container) {
	visibility: visible;
}

.is-mobile .BC-trail {
	visibility: hidden;
}


.BC-Link:nth-of-type(7n) {
    background-color: var(--h6-color);
}

.BC-Link:nth-of-type(5n) {
    background-color: var(--h5-color);
}

.BC-Link:nth-of-type(3n) {
    background-color: var(--h1-color);
}

/* Ribbon */

.clickable-icon.side-dock-ribbon-action {
    background-color: var(--h2-color);
    color: black;
    font-weight: bolder;
    padding-top: 16%;
    padding-left: 55%;
}

.clickable-icon.side-dock-ribbon-action:nth-of-type(2n) {
    background-color: var(--h4-color);  
}

.clickable-icon.side-dock-ribbon-action:nth-of-type(3n) {
    background-color: var(--h5-color);  
}

.clickable-icon.side-dock-ribbon-action:nth-of-type(4n) {
    background-color: var(--h6-color);  
}

.workspace-ribbon {
	flex: 0 0 4%;
}



/** Daily Note Navbar **/

.daily-note-navbar button {
	 /* color: var(--text-accent) !important; */
    background-color: var(--h4-color);
    border-radius: 200px;
    color: black !IMPORTANT; 
    font-variant: all-small-caps;
    font-weight: bolder;
    font-family: var(--font-monospace-default);
    padding-left: 30px;
    padding-top: 4px;
    padding-right: 9px;
    padding-bottom: 2px;
	font-family: var(--font-family-ui);	
}

.daily-note-navbar {
	overflow: scroll;
}

.daily-note-navbar button:disabled {
    background: var(--highlight-bg-color);
}

.daily-note-navbar__change-week {
	background-color: var(--h2-color) !important;
	padding: 0px 0px 0px 0px !important;
	width: 8%;
}



/** File Browser **/


.nav-folder.mod-root > .nav-folder-children {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    font-weight: bold;
    font-variant: all-small-caps;
    text-align: right;
}

.has-folder-note .tree-item-icon.collapse-icon.nav-folder-collapse-indicator {
    visibility: visible;
}

.has-folder-note .tree-item-icon.collapse-icon.nav-folder-collapse-indicator:not(.is-collapsed) {
    color: white;
}

.nav-folder:has(.is-active) > .nav-folder-title {
    background-color: rgba(var(--ctp-base), .1);
}

.mod-root .nav-folder:has(.is-active) {
    background-color: rgba(var(--ctp-base), 0.1);
}

/* Fancy split buttons in File Browser */

.nav-files-container{
	counter-reset: section;
}

.tree-item.nav-folder {
	transition: border-radius 0.5s ease-in-out, background-color 0.3s, margin-left 0.2s 0.1s ease-in-out, width 0.2s 0.1s ease-in-out !important;
	border-radius: 0px 12px 13px 0px;

}

.nav-folder-children.nav-folder{
	counter-increment: section;
}

.nav-folder.mod-root > .nav-folder-children > .nav-folder.is-collapsed::before {
   position: absolute;
    counter-increment: section;
    right: 68%;
    width: 22px;
    color: #000;
    padding-right: 10px;
    background-color: rgba(var(--rainbow-folder-color), var(--anp-rainbow-folder-bg-opacity));
    content: "0"counter(section);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 22px;
    padding-left: 11px;
    padding-top: 1px;
    font-size: var(--font-scale-1);
    text-align: right;
	opacity: 1;
	transition:  opacity 0.3s ease-in-out;
	/* transition: width 0.5s ease-in-out; --I like the opacity one better but this is also cool and they're fun combined */
}

.nav-folder.mod-root > .nav-folder-children > .nav-folder.is-collapsed:hover::before {
	opacity: 0; /* set to 0.5 for a fun transition with width */
	/*width: 18px; --this was the transition above, but i like opacity better.*/ 
}

.tree-item.nav-folder:not(.is-collapsed) {
    width: 88%;
    margin-left: 12.5%;
}

.nav-folder.mod-root > .nav-folder-children > .nav-folder.is-collapsed {
    width: 75%;
    margin-left: 24%;
    border-radius: 0px !important;
	
}

.anp-full-rainbow-color-toggle .nav-folder.mod-root .nav-folder > .nav-folder-children {
    padding: 0 0px 0 0px;
}

/* Tabs */

.anp-safari-tab-toggle .mod-root .workspace-tab-header:not(.is-mobile) {
	background-color: var(--h4-color);
    border-radius: 200px;
    font-variant: all-small-caps;
    font-weight: bolder;
    font-family: var(--font-monospace-default);
    padding-left: 30px;
    padding-top: 4px;
    padding-right: 9px;
    padding-bottom: 2px;
	font-family: var(--font-family-ui);
}


.anp-safari-tab-toggle .workspace-split.mod-vertical.mod-root .workspace-tabs .workspace-tab-header-container .workspace-tab-header-container-inner:not(.is-mobile) .workspace-tab-header:not(.-is-active) {
	background-color: var(--h2-color);
    border-radius: 200px;
    color: black; 
    font-variant: all-small-caps;
    font-weight: bolder;
    font-family: var(--font-monospace-default);
    padding-left: 30px;
    padding-top: 4px;
    padding-right: 9px;
    padding-bottom: 2px;
	font-family: var(--font-family-ui);
	transition: background-color 0.2s linear, color 0.2s linear;
}

.anp-safari-tab-toggle .workspace-split.mod-vertical.mod-root .workspace-tabs .workspace-tab-header-container .workspace-tab-header-container-inner .workspace-tab-header.is-active:not(.is-mobile) {
	background-color: var(--highlight-bg-color);
	color: white !important;
}

.is-focused .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-title {
	color: white !important;
}

.workspace-tab-header-container {
	overflow-x: clip;
	text-overflow: hidden;
}


.mod-root .workspace-tab-header-status-icon {
    color: black;
}


.workspace-tab-header:not(.is-mobile):hover {
	background-color: var(--h1-color) !important;
    color: white !important;
}

/* Navigation Arrows */

.clickable-icon[aria-disabled='false'] {
    color: var(--color-accent);
	
}

button[disabled], button[aria-disabled="true"], button[disabled="true"] {
    cursor: not-allowed;
    opacity: 1;
}

/* Frontmatter */

.metadata-property-icon {   
    color: var(--h2-color) !important;
}

.metadata-property-icon:hover {   
    color: white !important;
}


input.metadata-property-key-input:hover {
    color: white;
}
input.metadata-property-key-input {
    color: var(--h6-color);
    font-size: var(--font-medium);    
    font-variant: all-petite-caps;
}

/* incredibly silly shiny folder animation */

@keyframes shadowAnimation {
    0% { box-shadow: inset 4px 4px 4px 1px white; }
    25% { box-shadow: inset 4px -4px 4px 1px white; }
	50% { box-shadow: inset -4px -4px 4px 1px white; }
	75% { box-shadow: inset -4px 4px 4px 1px white; }	
	100% { box-shadow: inset 4px 4px 4px 1px white; }
}

.has-folder-note .tree-item-icon.collapse-icon.nav-folder-collapse-indicator.is-collapsed:hover {    
    animation: shadowAnimation .5s infinite;
}
